<li>
    <p>
        <% if(locals.user && locals.user.id==post.user._id){ %>
        <div>
                
            <a href="/post/destroy/<%= post.id %> "> delete post</a>
        </div>

        <% } %>
        <%= post.content %>
        <br>
        <small>
            <%= post.user.name %>
        </small>
    </p>
   
    <div class="post-comments">
        <% if (locals.user){ %>
            <form action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="Type Here to add comment...">
                <input type="hidden" name="post" value="<%= post._id %>" >
                <input type="submit" value="Add Comment">
            </form>

        <% } %>
        <%- include('comment') -%>
            </ul>
        </div>
    </div>
    </li>